.head {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titleBlock {
  font-size: 40px;
}

.subtitleBlock {
  font-size: 20px;
}

.logo {
  width: 123px;
  height: 123px;
  margin: auto;
  margin-bottom: 30px;
}

.topContent {
  text-align: center;
}

.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after {
  transition: all ease 0.5s;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.3em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  color: #cdcdcd;
  font-size: 15px;
}

.button:hover {
  box-shadow: 0 0 10px 3px #777;
}

.button span {
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button:hover span {
  background-color: #fff;
  color: #112;
}

#app {
  text-align: center;
}

.button::before,
.button::after,
.button div::before,
.button div::after {
  content: "";
  position: absolute;
  border: 1px;
}

.button::before,
.button span::before {
  border-style: solid none;
}

.button::before,
.button span::after {
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}

.button::after,
.button span::after {
  border-style: none solid;
}

.button::after,
.button span::before {
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}

.button:hover::after,
.button:hover span::after {
  transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before {
  transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before {
  opacity: 0;
}

/*===modal====*/

/* Modal */

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.overlay .popup {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: calc(50% - 155px);
  max-width: 570px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -35px;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  height: 71px;
  line-height: 71px;
  margin: 0;
  background-color: #c78030;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.overlay .popup-form {
  /*background: url(http://saqhan.ru/img/pre-stage/modal_bg.jpg) center no-repeat;*/
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
  text-align: center;
}

.overlay .popup-form-header {
  padding: 0;
  font-weight: 400;
  line-height: 27px;
  font-size: 30px;
  text-align: center;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.overlay .popup-form__input {
  width: auto;
  height: 56px;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 18px;
  background-color: #c78030;
  border: none;
  color: #fff;
  text-align: center;
}

.overlay .popup-form__input::-webkit-input-placeholder {
  color: #fff;
}

.overlay .popup-form__input::-moz-placeholder {
  color: #fff;
}

.overlay .popup-form__input:-moz-placeholder {
  color: #fff;
}

.overlay .popup-form__input:-ms-input-placeholder {
  color: #fff;
}

.overlay .popup-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.overlay .popup-form__input:focus::-moz-placeholder {
  color: transparent;
}

.overlay .popup-form__input:focus:-moz-placeholder {
  color: transparent;
}

.overlay .popup-form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  font-size: 15px;
  line-height: 22px;
  margin-left: 16px;
  background-color: transparent;
  color: #c78030;
  border: 1px solid #c78030;
  cursor: pointer;
}

.overlay .popup-form__btn:hover {
  box-shadow: 0 0 10px #c78030;
}

.openModal {
  -webkit-animation-name: openModal;
  animation-name: openModal;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: openModal;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes openModal {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes openModal {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.more-splash {
  -webkit-animation-name: splash;
  animation-name: splash;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
}

/* Modal */

#hide-blockTop {
  display: none;
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: #fe6347;
}

#phoneTop {
  transition: 1s ease all;
}

.more-splash {
  -webkit-animation-name: splash;
  animation-name: splash;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
}

/*===modal====*/

@media (max-width: 767px) {
  #navbarTop {
    margin: 0 15px;
  }

  .logotip {
    text-align: center;
    margin-bottom: 10px;
  }
}

.navbar-dark {
  background-color: #1a1b1e;
}

.myBtn {
  margin-top: 30px;
}
@media (max-width: 1024px) {
.overlay .popup-form__btn {
  margin-left: 0px;
}
}


/*Средние девайсы («таблетки», >= 768px) */
@media (max-width: 768px) {
  .titleBlock {
    font-size: 30px;
    padding: 10px;
  }

  .logo img {
    width: 100px;
  }
}
