
.navbar {
  padding: 0
}

/* убираем стандартные отступы */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
}


.navbar {
  padding: 0
}

.navbar-dark.sc-cnt-flexy-view-saqhan-promo-sticky-top-1_01 {
  background-color: #1A1B1E;
}

.navbar.sc-cnt-flexy-view-saqhan-promo-sticky-top-1_01>.container.sc-cnt-flexy-view-saqhan-promo-sticky-top-1_01 {
  position: relative;
}


.nav-link {
  padding: .5rem 1rem
}


/*=======*/

li.nav-item.active, li.nav-item, li.nav-item {
  transition: 0.3s ease;
}

li.nav-item.active, li.nav-item:hover, li.nav-item:focus {
  background-color: #007bff;
}

.navbar-dark {
  background-color: #1A1B1E;
}

.navbar-dark .navbar-text {
  color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

mom-social-icons li a {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #f0f0f0;
}

/*.navbar-text {*/
/*  position: absolute;*/
/*  top: -3px;*/
/*  right: 15px;*/
/*}*/

.mom-social-icons li a {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #f0f0f0;
}
