

/*animation*/
.about-me {
  animation-duration: 1s;

}



.about-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.about-blocks-wrapper div {
  padding-bottom: 30px;
}
.wrapper-title-about {
  padding: 50px 0px;
}

.titleBlock {

  letter-spacing: 10px;
  font-size: 40px;
  text-align: center;
}

.subtitleBlock {
  font-size: 20px;
  letter-spacing: 5px;

}

.aboutContactsubtitle i {
  color: #fe6347;
  margin-right: 10px;
}

.aboutContactsubtitle a {
  margin-right: 5px;
}

.myPhoto {
  max-width: 300px;
  height: 310px;
  margin: auto;
}
